Package: com.youpro.langfixb2
Name: YouProb2LangFix
Version: 1.0
Architecture: iphoneos-arm
Description: Force English labels in YouPro download menu
Maintainer: JuDeer
Author: JuDeer
Section: Tweaks
Depends: mobilesubstrate
